<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<table border="0">

		<tr>
			<td>
				<label for="name">名前</label>
			</td>

			<td>
				<div>
					<span th:text="${confirmationForm.getName()}"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<label for="kana">フリガナ</label>
			</td>

			<td>
				<div>
					<span th:text="${confirmationForm.getKana()}"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<label for="gender">性別</label>
			</td>

			<td>
				<div>
					<span th:text="${confirmationForm.getGender()}"></span>
					<span>性</span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<label for="hobby">趣味</label>
			</td>
			<td>
				<div>
					<span th:text="${confirmationForm.getHobby()}"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<label>一言</label>
			</td>
			<td>
				<div>
					<span th:text="${confirmationForm.getWord()}"></span>
				</div>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<form th:action="@{/input}" th:object="${inputForm}" method="post">
				<input type="hidden" th:field="*{name}">
				<input type="hidden" th:field="*{kana}">
				<input type="hidden" th:field="*{gender}">
				<input type="hidden" th:field="*{hobby[0]}">
				<input type="hidden" th:field="*{hobby[1]}">
				<input type="hidden" th:field="*{hobby[2]}">
				<input type="hidden" th:field="*{hobby[3]}">
				<input type="hidden" th:field="*{hobby[4]}">
				<input type="hidden" th:field="*{hobby[5]}">
				<input type="hidden" th:field="*{hobby[6]}">
				<input type="hidden" th:field="*{hobby[7]}">
				<input type="hidden" th:field="*{hobby[8]}">
				<input type="hidden" th:field="*{word}">
				<button type="submit">戻る</button>
			</form>
		<tr>
			<form th:action="@{/completion}" th:object="${confirmationForm}" method="post">
				<input type="hidden" th:field="*{name}">
				<input type="hidden" th:field="*{kana}">
				<input type="hidden" th:field="*{gender}">
				<input type="hidden" th:field="*{hobby}">
				<input type="hidden" th:field="*{word}">
				<button type="submit">完了</button>
			</form>
		</tr>


	</table>
</body>

</html>